build/
*~
*.swp
*.swo
*.wrl
*.root

CMakeCache.txt
CMakeFiles/
G4History.macro
Makefile
cmake_install.cmake
currentEvent.rndm
currentRun.rndm
fixedbeam30.py

bin/*
!bin/command.mac
!bin/run.py

RunBeam
