build/
*~
*.swp
*.swo
*.wrl
*.root

CMakeCache.txt
CMakeFiles/
G4History.macro
Makefile
cmake_install.cmake
currentEvent.rndm
currentRun.rndm
fixedbeam30.py

bin/*
!bin/command.mac
!bin/run.py
!bin/pspace.pbs
!bin/remove_uivis.patch

RunBeam
openPBS.script
gate/output/*
!gate/output/.keep

gate/data/flask.hdr
gate/data/flask.img
gate/data/flask_info.txt
